p.justify {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

/* Optional: alle Absätze im Blocksatz */
p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

/* Optional: Bild leicht abrunden */
img {
  border-radius: 12px;
}

/* Hintergrund*/
body {
  background-color: #f5f5f5; /* sanftes Grau */
}

/* Normale Links */
a {
  color: #3B7A57;  /* Beispiel: DodgerBlue, hier kannst du jede Farbe setzen */
  text-decoration: none; /* optional: entfernt die Unterstreichung */
}

/* Links beim Hover */
a:hover {
  color: #2E5E45;  /* Beispiel: OrangeRed beim Überfahren mit der Maus */
  text-decoration: underline; /* optional: Unterstreichung beim Hover */
}

 /* Panel-Tabs Schriftfarbe */
.panel-tabset .tabset-tab {
  color: black !important; /* erzwingt schwarze Schrift */
}

/* Optional: aktive Tab-Farbe */
.panel-tabset .tabset-tab.active {
  color: black !important;  /* auch aktiv schwarz */
}

/* Hover-Effekt (optional) */
.panel-tabset .tabset-tab:hover {
  color: black !important;
}
